{% extends 'base.html.twig' %}
{% block title %}Nos Ambassadeurs{% endblock %}
{% block body %}
  <section style=" height:200px; background-image: url(../fichiers/imgnosambassadeurs.png); background-repeat: no-repeat !important;">
    <h1 style="padding-left:20px; padding-top:70px; font-size:29px; color:black; font-weight:bold;">Nos Ambassadeurs</h1>
  </section>

  {% include 'trait.html.twig' %}
  <section >
    <div class="container">
      <div class="columns">
        <div class="column">
          <form action="" method="post">
            <div class="field">
              <div class="control">
                {#    <div class="select is-large">
                     <select name="selectRegion">
                       <option>Selectionnez la Région</option>
                        {% for team in teams %}
                       <option>{{ team.region }}<br></option>
                       {% else %}
                          <option>no records found</option>
                       {% endfor %}
                     </select>
                   </div>
                   <button type="submit" class="button is-primary is-large">Rechercher</button> #}

              </div>
            </div>
          </form>
        </div>
      </div>

      {# Debut du bloc #}
      {% for team in teams %}
        <div class="columns">
          <div class="column">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-128x128">
                    <img src="{{ asset('uploads/team/' ~ team.photo) }}" alt="{{ team.nom }} {{ team.prenom }}" title="{{ team.nom }} {{ team.prenom }}" >
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ team.nom }} {{ team.prenom }}</strong> 
                      <br>
                      Téléphone: <a href="tel:{{ team.telephone }}"> {{ team.telephone }} </a><br>
                      Email: <a href="mailto:{{ team.email }}"> {{ team.email }} </a> <br>
                      Pays: {{ team.pays }}<br>
                      Région: {{ team.region }}<br>
                      Ville: {{ team.ville }}<br>
                      Code postal: {{ team.codePostal }}   <br>  
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        {% else %}
          <p> Pas de données trouvées</p>
        {% endfor %}

        {# Fin du bloc #}
      </div>

    </div>    

  </section>

{% endblock %}
