<!DOCTYPE html>
<!-- saved from url=(0145)https://landing.eovi-mcd.fr/deces/?origine=2go&gclid=Cj0KCQiAvc_xBRCYARIsAC5QT9n1n_By2QMU2dpksR2SJ2bdgw1w5q_rNsxFe4XybO4hiYjrMrK05nQaAvAxEALw_wcB -->
<html lang="fr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<title>{% block title %}Waloude Prévoyance Décès{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% block meta_description %}Waloude Prévoyance Décès{% endblock %}">
  <link rel="stylesheet" href="{{ asset('./fichiers/main.min.css') }}">
  {# <link rel="stylesheet" href="{{ asset('./fichiers/bulma.min.css') }}"> #}
	<link rel="stylesheet" href="{{ asset('./fichiers/styles.css') }}">
	<link rel="stylesheet" href="{{ asset('./fichiers/jquery-ui.css') }}">
	<link href="{{ asset('./fonts/css/all.css') }}" rel="stylesheet"> <!--load all styles -->
	<link href="{{ asset('bulma-calendar/dist/css/bulma-calendar.min.css') }}" rel="stylesheet">
  <link rel="Shortcut icon" type="image/x-icon" href="{{ asset('./fichiers/favicon.png') }}">

    <script src="{{ asset('./fichiers/jquery-1.12.4.js') }}"></script>
    <script src="{{ asset('./fichiers/jquery-ui.js') }}"></script>
    <script src="{{ asset('bulma-calendar/dist/js/bulma-calendar.min.js') }}"></script>
    {#<script src="{{ asset('./fichiers/menu-mobile.js') }}"></script>
    {# <script src="{{ asset('./fichiers/jquery.min.js') }}"></script> #}
    {#<script type="text/javascript" async="" src="{{ asset('./fichiers/hotjar-1054370.js') }}"></script>
    <script type="text/javascript" async="" src="{{ asset('./fichiers/analytics.js') }}"></script>
    <script async="" src="{{ asset('./fichiers/gtm.js') }}"></script>
    
	<script src="{{ asset('./fichiers/app.min.js') }}" async="" defer=""></script>#}
	
<style type="text/css">
.ui-front{z-index:1000 !important;}
</style>


<script>
$(function() {
  $(document).ready( function() {
	// désactive le champs Ville
	$('#city').attr('disabled','disabled');
  });
  $('#city').focus( function() {
    // affecte l'autocompilation au champs Ville
	$(this).autocomplete('search', '');
  });
  // OnKeyDown Function - click
  $('#zipcode').keyup(function() {
    // valeur du champs Code Postal
    var zip_in = $(this);
    var zip_box = $('#zipcode');
    // erreur : si le code postal est supérieur à 5 caractères 
    if (zip_in.val().length < 5)
    {
      zip_box.addClass('error').removeClass('success');
    }
	// il faut taper 5 caractères pour afficher l'autocomplétion
    else if (zip_in.val().length == 5)
    {
      // active le champs Ville
	  $('#city').removeAttr('disabled');
	  $('#city').attr('required','required');
      // Création de la requette Code Postal
      $.ajax({ url: '../inc/zipcode/codePostalVille.php', cache: false,
        dataType: 'json',
        data: { CPostal: zip_in.val() },
		type: 'POST',
        success: function(result, success) {
		  // créé la liste des ville
		  suggestions = [];
          for (ii in result['localites'])
		  {
            suggestions.push(result['localites'][ii]['localite']);
          }
          $('#city').autocomplete({
		    source:suggestions,
			//delay:1,
			disabled:false,
			minLength:0
		  });
          if (suggestions.length > 0){
            $('#city').placeholder = suggestions[0];
          }
          zip_box.addClass('success').removeClass('error');
        },
		// s'il n'y a pas de ville trouvé
        error: function(result, success) {
          zip_box.removeClass('success').addClass('error');
        }
      });
    }
  });
});

//debut calendar
// Initialize all input of type date
var calendars = bulmaCalendar.attach('[type="date"]');

// Loop on each calendar initialized
for(var i = 0; i < calendars.length; i++) {
	// Add listener to date:selected event
	calendars[i].on('select', date => {
		console.log(date);
	});
}

// To access to bulmaCalendar instance of an element
var element = document.querySelector('#my-element');
if (element) {
	// bulmaCalendar instance is available as element.bulmaCalendar
	element.bulmaCalendar.on('select', function(datepicker) {
		console.log(datepicker.data.value());
	});
}
//fin de calendar
</script>


<!-- Google Tag Manager -->

<!-- End Google Tag Manager -->
<link rel="stylesheet" type="text/css" href="{{ asset('./fichiers/cookieLevel.css') }}">	
<style type="text/css">
@font-face {
  font-weight: 400;
  font-style:  normal;
  font-family: 'Inter-Loom';

  src: url('https://cdn.loom.com/assets/fonts/inter/Inter-UI-Regular.woff2') format('woff2');
}
@font-face {
  font-weight: 400;
  font-style:  italic;
  font-family: 'Inter-Loom';

  src: url('https://cdn.loom.com/assets/fonts/inter/Inter-UI-Italic.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-style:  normal;
  font-family: 'Inter-Loom';

  src: url('https://cdn.loom.com/assets/fonts/inter/Inter-UI-Medium.woff2') format('woff2');
}
@font-face {
  font-weight: 500;
  font-style:  italic;
  font-family: 'Inter-Loom';

  src: url('https://cdn.loom.com/assets/fonts/inter/Inter-UI-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-style:  normal;
  font-family: 'Inter-Loom';

  src: url('https://cdn.loom.com/assets/fonts/inter/Inter-UI-Bold.woff2') format('woff2');
}
@font-face {
  font-weight: 700;
  font-style:  italic;
  font-family: 'Inter-Loom';

  src: url('https://cdn.loom.com/assets/fonts/inter/Inter-UI-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-weight: 900;
  font-style:  normal;
  font-family: 'Inter-Loom';

  src: url('https://cdn.loom.com/assets/fonts/inter/Inter-UI-Black.woff2') format('woff2');
}
@font-face {
  font-weight: 900;
  font-style:  italic;
  font-family: 'Inter-Loom';

  src: url('https://cdn.loom.com/assets/fonts/inter/Inter-UI-BlackItalic.woff2') format('woff2');
}

</style>
{#<script async="" src="./fichiers/modules.9ad849c74ae56ab50f63.js" charset="utf-8"></script>#}
<style type="text/css">iframe#_hjRemoteVarsFrame {display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;}</style></head>
</head>
<body class="lp_deces js-focus-visible" style="" cz-shortcut-listen="true">

	<!-- Google Tag Manager (noscript) -->

	<!-- End Google Tag Manager (noscript) -->

	<header>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <a href="{{ path('accueil')}}">
      <img class="navbar-item" src="{{ asset('./fichiers/logo.png') }}" width="300" height="100">
      </a>

    <span class="navbar-burger burger" data-target="navbarMenu">
      <span ></span>
      <span ></span>
      <span ></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu is-active">
    <div class="navbar-start">
        <a class="navbar-item {% if (app.request.attributes.get('_route') == 'accueil') %}is-active{% endif %}" href="{{ path('accueil')}}">Accueil</a>
				<a class="navbar-item {% if (app.request.attributes.get('_route')  ==  'waloude') %}is-active{% endif %}" href="{{ path('waloude')}}">Waloude</a>
        {% if not app.user %}
				<a class="navbar-item {% if (app.request.attributes.get('_route') == 'user_registration') %}is-active{% endif %}" href="{{ path('user_registration')}}">Prévoyance</a>
        {% else %}
          <a class="navbar-item {% if (app.request.attributes.get('_route') == 'souscripteur_new') %}is-active{% endif %}" href="{{ path('souscripteur_new')}}">Prévoyance</a>
        {% endif %}
        <a class="navbar-item {% if (app.request.attributes.get('_route') == 'team') %}is-active{% endif %}" href="{{ path('team')}}">Nos ambassadeurs</a>
        <a class="navbar-item {% if (app.request.attributes.get('_route') == 'faq_index') %}is-active{% endif %}" href="{{ path('faq_index')}}">FAQ</a>
				<a class="navbar-item {% if (app.request.attributes.get('_route') == 'contact') %}is-active{% endif %}" href="{{ path('contact')}}">Contactez-nous</a>
    </div>

    <div class="navbar-end">
     
      <div class="navbar-item">
      {% if not app.user %}
        <div class="buttons">
          <a class="button is-primary" href="{{ path('user_registration')}}">
            <strong>S'inscrire</strong>
          </a>
          <a class="button is-light" href="{{ path('app_login')}}">
            Espace personnel
          </a>
        </div>
        {% else %}
        <div class="buttons">
          <a class="button is-success" href="{{ path('moncompte')}}">Mon compte</a>
         <a class="button is-danger" href="{{ path('app_logout')}}">Se déconnecter</a>
        </div>
         {% endif %}

      </div>
    </div>
  </div>

</nav>
		<div class="container">
    <div class="columns is-mobile">
      <div class="column is-11 is-offset-1">
		<h2 class="texte_defile">Avec Waloude ,mettez à l’abri ceux que vous aimez des conséquences financières d’un décès</h2>
	</div>
  </div>
	</header>

       {% block body %}

       {% endblock %}


	<footer>
		<div class="container">
			<div class="columns">
				<div class="column is-6"><a href="{{ path('waloude') }}">Waloude</a> assurance décès 2021 - Tous droits réservés - 
        <span>Crée par </span><a href="https://agency.toutpaie.fr/" target="_blank">ToutPaie Agency</a></div>
				<div class="column is-6 has-text-right"><a href="{{ path('contrat') }}">Contrat Prévoyance Décès Waloude</a> | <a href="{{ path('politique-de-confidentialite') }}" target="_blank">Protection des données</a> | <a href="{{ path('plansite') }}">Plan du site</a></div>
			</div>
		</div>

		<div class="container">
				<div class="column is-12 has-text-right">
					<span>Suivez-nous sur:</span>
					<a href="{{ path('accueil') }}"><i class="fab fa-facebook"></i></a>
					<a href="{{ path('accueil') }}"><i class="fab fa-twitter"></i></i></a>
					<a href="{{ path('accueil') }}"><i class="fab fa-linkedin"></i></a>
					<a href="{{ path('accueil') }}"><i class="fab fa-youtube"></i></a>
				</div>
			</div>
		</div>

	</footer>

</body>
</html>
